.accordion {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.accordion-button {
    background-color: rgb(0, 22, 119);
    color: #fff;
    border: none;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
    border: 2px solid rgb(0, 22, 119);
}

.accordion-content.active {
    display: block;
}
